:root{
    --clr-primary:#6749c6;
    --clr-secondary:#5AD6A0;
    --clr-grey:#313131;
}

.practisecontainer{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    background-color: rgb(247, 247, 255);
    padding: 2vmax 12.8vmax;
    min-height: 150vh;
    position: inherit;
}

.practisechildContainer{    
    padding: 2rem;
    grid-column-start: 2;
}

.backhomebtns a{
    color:var(--clr-grey);
    text-decoration: none;
    padding:2px 10px;
    border: 1px solid var(--clr-grey);
    margin-right: 10px;
}


.backhomebtns + h1{
    margin-top: 2rem;
}


.hero{
    display: flex;
    margin-top: 5rem;
}

.hero ul{
    margin-top: 1rem;
}

.hero ul li{
    display: flex;
    gap: 5px;
    margin-bottom: 1rem;
}

.hero ul li p{
    font-size: 14px;
    margin-left: 5px;
}

.hero button{
    padding: 10px 40px;
    border: none;
    color: white;
    background-color: var(--clr-secondary);
    margin-top: 2rem;
}

.subjects{
    margin-top: 3rem;
}

.subjects div{
    display: flex;
    flex-wrap: wrap;
}

.subjects div a{
    margin-right: 3rem;
    margin-top: 1rem;
    padding: 2vmax;
    /* background-color: red; */
    text-decoration: none;
    color: black;
    /* box-shadow: 0 0 5px rgba(15, 15, 15, 0.26); */
    
    border-radius: 10px;
}
.primary a{
    border-left: 2px solid var(--clr-primary);
    border-right:2px solid var(--clr-primary);
    box-shadow: 0 0 5px var(--clr-primary);
}

.secondary a{
    border-left: 2px solid var(--clr-secondary);
    border-right:2px solid var(--clr-secondary);
    box-shadow: 0 0 5px var(--clr-secondary);
}




@media screen and (max-width:600px) {
    .practisecontainer{
        grid-template-columns: 1fr;
        padding: 2vmax;
        width: 92%;
    }

    .practisechildContainer{
        padding: 0;
    }

    .backhomebtns a{
        font-size: 10px;
        margin-top: 3rem;
    }
    .backhomebtns + h1{
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: -2rem;
    }

    .hero{
        flex-direction: column-reverse;
        margin-top: 2rem;
    }

    .hero div{
        padding: 1rem;
    }

    .hero div h2{
        font-size: 1rem;
    }

    .hero >div >img{
        width: 100%;
    }

    .subjects>h1{
        font-size: 1rem;
    }

    .subjects div a{
        width: 17rem;
        padding: 3vmax;
        margin-right: 0;
    }

    .hero button{
        padding: 5px 20px;
        margin-top: 1rem;
    }

    .hero ul li p {
        font-size: 11px;
        margin-left: 5px;
    }

    .features{
        padding: 0;
    }

}